{
  "extends": "eslint-config-egg",
  "rules": {
    "semi": 0,
    "indent": "off",
    "strict": "off",
    "prefer-promise-reject-errors": "off",
    "quotes": "off",
    "prefer-const": "off",
    "no-unused-vars": "off",
    "newline-per-chained-call": "off",
    // 临时配置
    "object-curly-spacing": "off",
    "space-before-function-paren": "off",
    "comma-dangle": "off",
    "no-empty-function": "off",
    "default-case": "off",
    // JS注释规范
    "jsdoc/require-param-type": "off",
    "jsdoc/require-param-description": "off",
    "jsdoc/require-returns-description": "off",
    "require-param": "off"
  }
}